@import url("variables.css");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body h1{
  font-size: 5rem;
  font-family: var(--fonts-titles);
}

a {
  margin-top: 1rem;
  color: #000;
}