
header {
  height: 20vh;
  background-color: rgb(255, 184, 102);
  font-family: Verdana, sans-serif;
  padding: 2rem 2rem 0 2rem;
}

header ul {
  display: flex;   
}

header ul li {
  background-color: rgb(255, 221, 183);
  padding: 1rem ;
  margin: 0 1rem;
  border: 1px black solid;
  list-style: none; 
}

header ul li a {
  color: black;
  text-decoration: none;
}

header ul li a:hover{
  color: blue;
  text-decoration: underline;
}

#selected-navitem {
  background: rgb(157, 244, 255)
}

header h1 {
  font-size: 2rem;
}

header h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container {
  padding: 2rem;
  height: 60vh;
}

main.container{
  background-color: rgb(255, 124, 146);
  width: 60%;
  float: left;
}

aside.container {
  background-color: rgb(98, 146, 52);
  width: 40%;
  float: left;
}

footer {
  text-align: center;
  height: 20vh;
  background-color: rgb(176, 233, 255);
  clear: both;
}

